#nicaragua, #vietnam, #scotland, #iceland, #newzealand, #hawaii, #seattle, #bigsur, #alaska {
  display: none;
}

button {
  margin-bottom: 15px;
}

.page-header {
  margin-top: -20px;
}

#destination h2 {
  margin-top: -5px;
}

body {
  background-color: #f2f4fc;
}

.main{
  padding-bottom: 20px;
}
